## Gas Prices in Brazil

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
gasolina_2000 = pd.read_csv("data/gasolina_2000+.csv", sep=",", decimal=",", index_col=0)
gasolina_2010 = pd.read_csv("data/gasolina_2010+.csv", sep=",", decimal=",", index_col=0)

In [3]:
gasolina_2000

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.28,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.07,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.0579999999999999,1.7990000000000002,2.109,0.19,0.03,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.89,2.31,0.267,0.0289999999999999,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.21,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
gasolina_2010

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.03,0.003,2.02,2.05,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.49,1.99,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.59,2.49,0.326,0.08,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.1,0.268,0.0409999999999999,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.51,4.69,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.19,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
df = pd.concat([gasolina_2000, gasolina_2010])

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [6]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  object
 8   DESVIO PADRÃO REVENDA          120823 non-null  object
 9   PREÇO MÍNIMO REVENDA           120823 non-null  object
 10  PREÇO MÁXIMO REVENDA           120823 non-null  object
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  object
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: int64(1), object(17)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [8]:
df.iloc[3,:1]

DATA INICIAL    2004-05-09
Name: 3, dtype: object

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [9]:
df["DATA INICIAL"] = pd.to_datetime(df["DATA INICIAL"])
df["DATA FINAL"] = pd.to_datetime(df["DATA FINAL"])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  object
 8   DESVIO PADRÃO REVENDA          120823 non-null  object
 9   PREÇO MÍNIMO REVENDA           120823 non-null  object
 10  PREÇO MÁXIMO REVENDA           120823 non-null  object
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  object
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), int64(1), object(15)
memory usage: 17.5+ MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [11]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.35,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.0969999999999999,1.18,1.76,0.419,0.07,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.07,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.4,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [12]:
df["ano_mes"] = df["DATA FINAL"].dt.strftime("%Y-%m")
df.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ano_mes
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.51,4.69,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.19,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [13]:
df["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [14]:
gasolina = df[df["PRODUTO"] == "GASOLINA COMUM"]

In [15]:
gasolina

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ano_mes
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.0069999999999999,1.99,2.07,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.22,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.0,2.54,0.472,0.0279999999999999,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.12,0.075,1.97,2.44,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.09,0.034,2.0,2.1590000000000003,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.31,5.53,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.64,5.599,-99999.0,0.05,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.41,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.16,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [16]:
gasolina['PREÇO MÉDIO REVENDA'] = gasolina['PREÇO MÉDIO REVENDA'].astype(float)
gasolina[gasolina['ano_mes'] == '2008-08']['PREÇO MÉDIO REVENDA'].mean()
#df.info()

/tmp/ipykernel_23198/3667174035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasolina['PREÇO MÉDIO REVENDA'] = gasolina['PREÇO MÉDIO REVENDA'].astype(float)

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [17]:
gasolina[(gasolina['ano_mes'] == '2014-05') & (gasolina['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [18]:
df_preco = gasolina[['ESTADO','PREÇO MÉDIO REVENDA','DATA FINAL']]
df_preco[df_preco['PREÇO MÉDIO REVENDA'] > 5.0].head(20)

                ESTADO  PREÇO MÉDIO REVENDA DATA FINAL
98201             ACRE                5.053 2018-05-26
98347             ACRE                5.035 2018-06-02
98493             ACRE                5.038 2018-06-09
98511   RIO DE JANEIRO                5.016 2018-06-09
98646             ACRE                5.031 2018-06-16
98797             ACRE                5.036 2018-06-23
98948             ACRE                5.039 2018-06-30
99098             ACRE                5.021 2018-07-07
99247             ACRE                5.042 2018-07-14
99398             ACRE                5.038 2018-07-21
99549             ACRE                5.033 2018-07-28
99701             ACRE                5.031 2018-08-04
99852             ACRE                5.015 2018-08-11
100003            ACRE                5.023 2018-08-18
100153            ACRE                5.036 2018-08-25
100302            ACRE                5.018 2018-09-01
100453            ACRE                5.074 2018-09-08
100604            ACRE                5.129 2018-09-15
100756            ACRE                5.153 2018-09-22
100774  RIO DE JANEIRO                5.036 2018-09-22

### 11. Qual a média de preço dos estados da região sul em 2012?

In [19]:
df_aux = gasolina[(gasolina["DATA FINAL"].apply(lambda x: x.year) == 2012)]
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [27]:
gasolina["MES"] = gasolina["DATA FINAL"].apply(lambda x: x.month)
df_rio = gasolina[gasolina["ESTADO"] == "RIO DE JANEIRO"]
df_month_rio = df_rio.groupby("ano_mes")[["PREÇO MÉDIO REVENDA", "MES"]].last()
((df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) * 100).rolling(3).sum()

/tmp/ipykernel_23198/492045007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasolina["MES"] = gasolina["DATA FINAL"].apply(lambda x: x.month)

         PREÇO MÉDIO REVENDA  MES
ano_mes
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12                  NaN  NaN
2007-12            10.506106  0.0
2008-12             2.256908  0.0
2009-12             2.977270  0.0
2010-12             4.654667  0.0
2011-12            10.775678  0.0
2012-12            10.121052  0.0
2013-12            14.865958  0.0
2014-12            12.122674  0.0
2015-12            31.601507  0.0
2016-12            28.448678  0.0
2017-12            37.729878  0.0
2018-12            23.072992  0.0
2019-12            23.250920  0.0
2020-12             8.286421  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [33]:
df_max = gasolina.groupby("ano_mes").max()["PREÇO MÉDIO REVENDA"].sort_index()
idx_max = gasolina.groupby('ano_mes')["PREÇO MÉDIO REVENDA"].idxmax()
df_min = gasolina.groupby("ano_mes").min()["PREÇO MÉDIO REVENDA"].sort_index()
idx_min = gasolina.groupby('ano_mes')["PREÇO MÉDIO REVENDA"].idxmin()
df_diff = pd.DataFrame()

In [35]:
df_diff["abs_diff"] = df_max - df_min
df_diff["percent_diff"] = (df_max/ df_min) / df_min * 100
df_diff["max"] = df_max
df_diff["min"] = df_min

In [36]:
df_diff

         abs_diff  percent_diff    max    min
ano_mes
2004-05     0.550     68.395845  2.438  1.888
2004-06     0.584     68.276116  2.496  1.912
2004-07     0.609     67.901142  2.545  1.936
2004-08     0.530     62.122352  2.560  2.030
2004-09     0.539     62.303619  2.570  2.031
...           ...           ...    ...    ...
2021-01     1.383     35.537770  5.213  3.830
2021-02     1.688     34.205516  5.809  4.121
2021-03     2.109     31.897377  6.688  4.579
2021-04     1.450     27.287791  6.227  4.777
2021-05     1.391     26.418787  6.258  4.867

[204 rows x 4 columns]

In [37]:
idx_max

ano_mes
2004-05     12104
2004-06     12228
2004-07     12374
2004-08     12471
2004-09     12590
            ...
2021-01    118208
2021-02    119092
2021-03    119629
2021-04    120163
2021-05    120699
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [38]:
idx_min

ano_mes
2004-05     12114
2004-06     12168
2004-07     12334
2004-08     12411
2004-09     12600
            ...
2021-01    117685
2021-02    118739
2021-03    119271
2021-04    120344
2021-05    120701
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [41]:
gasolina.loc[idx_max, :][["ESTADO", "PREÇO MÉDIO REVENDA", "ano_mes"]]

             ESTADO  PREÇO MÉDIO REVENDA  ano_mes
12104          ACRE                2.438  2004-05
12228   MATO GROSSO                2.496  2004-06
12374          ACRE                2.545  2004-07
12471   MATO GROSSO                2.560  2004-08
12590          ACRE                2.570  2004-09
...             ...                  ...      ...
118208         ACRE                5.213  2021-01
119092         ACRE                5.809  2021-02
119629         ACRE                6.688  2021-03
120163         ACRE                6.227  2021-04
120699         ACRE                6.258  2021-05

[204 rows x 3 columns]

In [42]:
df_diff["ESTADO_MAX"] = gasolina.loc[idx_max, :]["ESTADO"].values
df_diff["ESTADO_MIN"] = gasolina.loc[idx_min, :]["ESTADO"].values
df_diff

         abs_diff  percent_diff    max    min   ESTADO_MAX        ESTADO_MIN
ano_mes
2004-05     0.550     68.395845  2.438  1.888         ACRE         SAO PAULO
2004-06     0.584     68.276116  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07     0.609     67.901142  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08     0.530     62.122352  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09     0.539     62.303619  2.570  2.031         ACRE         SAO PAULO
...           ...           ...    ...    ...          ...               ...
2021-01     1.383     35.537770  5.213  3.830         ACRE             AMAPA
2021-02     1.688     34.205516  5.809  4.121         ACRE             AMAPA
2021-03     2.109     31.897377  6.688  4.579         ACRE             AMAPA
2021-04     1.450     27.287791  6.227  4.777         ACRE             AMAPA
2021-05     1.391     26.418787  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [43]:
df_diff["ESTADO_MAX"].value_counts()

ESTADO_MAX
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64

In [44]:
df_diff["ESTADO_MIN"].value_counts()

ESTADO_MIN
SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: count, dtype: int64